@model ASP_MVC.Models.VaccinationSchedule

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>VaccinationSchedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VaccinationDates" class="control-label"></label>
                <input asp-for="VaccinationDates" class="form-control" />
                <span asp-validation-for="VaccinationDates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VaccineId" class="control-label"></label>
                <select asp-for="VaccineId" class="form-control" asp-items="ViewBag.VaccineId"></select>
                <span asp-validation-for="VaccineId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

